{% extends "base.html" %}

{% block content %}
  <h1>Edit your profile</h1>
  <form action="" method="post" name="edit">
    {{ form.hidden_tag() }}

    <div>
      <label>Nickname</label>
      {{ form.nickname(size=24) }}
      {% for error in form.errors.nickname %}
      <br><span style="color: red">[{{ error }}]</span>
      {% endfor %}
    </div>

    <div>
      <label>About yourself</label>
      {{ form.about_me(cols=32, rows=4) }}
    </div>

    <input type="submit" value="Save" />
  </form>
{% endblock %}
